###----Python Packages---###
fastapi
uvicorn[standard]
llama-index
langgraph
google-auth-oauthlib
google-api-python-client
email-validator
python-dotenv
pydantic

###----*Not* Python Package---###
# brew install ollama 
### To check:
# brew services list
# brew services start ollama

# To pull and run models:
# ollama pull phi3:mini
# ollama list
# ollama run  phi3:mini  "Say 'ready'."

# To force stop: 
# pkill ollama 
# or 
# ollama stop <model>

# close off ollama.
# brew services stop ollama


# Different way to run:
# Ollama serve on one terminal, and ollama pull desired model and start a conversation:
# ollama run phi3:mini
